<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.brokenpipe.taskermqtt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MqttConnectionService"
            android:enabled="true"
            android:exported="false" />

        <!--

            Event Plugin Handling

        -->
        <activity
            android:name=".EditEventActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/plugin_name"
            tools:ignore="ExportedActivity">

            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".QueryReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver">

            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </receiver>


        <!--

            Action Plugin Handling

        -->
        <activity
            android:name=".EditActionActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/plugin_name"
            tools:ignore="ExportedActivity" >

            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".FireReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver" >

            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

    </application>

</manifest>